body,
a {
  font-family: "Roboto" sans-serif;
  color: white;
  background-image: url(/images/cs-background.PNG);
  background-repeat: no-repeat;
  background-size: 100% 600%;
}

nav > ul,
a {
  list-style-type: none;
  text-decoration: none;
}

nav {
  padding: 20px 10px 20px;
  text-align: center;
}

.logo {
  text-decoration: none;
  color: white;
  font-size: 36px;
  font-weight: 500;
}
